
@use"/src/sass/base/variables.scss" as *;

@use"/src/sass/pxtorem.scss";


html {
    font-family: "Barlow", sans-serif;
    scroll-behavior: smooth;

}

span {
    font-size: 40px;
    color:$ui-error;
}